cheroot
cryptography
Flask>=1.0.2
Flask-SocketIO>=3.1.2
flask-sqlalchemy>=2.1,<3.0
pyOpenSSL
pypykatz>=0.2.2
python-magic
service_identity
sqlalchemy<2.0
twisted>=18.9.0
watchdog
werkzeug>=0.15
wsgidav>=3.0.0
