/*
SOLARIZED	HEX 	RGB 	HSB 	L*A*B 	16/8	TERMCOL 	XTERM/HEX
base03 	#002b36	0 	43 	54 	193	100	21	15	-12	-12	8/4 	brblack 	234	#1c1c1c
base02 	#073642	7 	54 	66 	192	90 	26	20	-12	-12	0/4 	black 	235	#262626
base01 	#586e75	88 	110	117	194	25 	46	45	-07	-07	10/7	brgreen 	240	#585858
base00 	#657b83	101	123	131	195	23 	51	50	-07	-07	11/7	bryellow 	241	#626262
base0 	#839496	131	148	150	186	13 	59	60	-06	-03	12/6	brblue 	244	#808080
base1 	#93a1a1	147	161	161	180	9 	63	65	-05	-02	14/4	brcyan 	245	#8a8a8a
base2 	#eee8d5	238	232	213	44 	11 	93	92	-00	10 	7/7 	white 	254	#e4e4e4
base3 	#fdf6e3	253	246	227	44 	10 	99	97	00 	10 	15/7	brwhite 	230	#ffffd7
yellow 	#b58900	181	137	0 	45 	100	71	60	10 	65 	3/3 	yellow 	136	#af8700
orange 	#cb4b16	203	75 	22 	18 	89 	80	50	50 	55 	9/3 	brred 	166	#d75f00
red 	#dc322f	220	50 	47 	1 	79 	86	50	65 	45 	1/1 	red 	160	#d70000
magenta	#d33682	211	54 	130	331	74 	83	50	65 	-05	5/5 	magenta 	125	#af005f
violet 	#6c71c4	108	113	196	237	45 	77	50	15 	-45	13/5	brmagenta	61 	#5f5faf
blue 	#268bd2	38 	139	210	205	82 	82	55	-10	-45	4/4 	blue 	33 	#0087ff
cyan 	#2aa198	42 	161	152	175	74 	63	60	-35	-05	6/6 	cyan 	37 	#00afaf
green 	#859900	133	153	0 	68 	100	60	60	-20	65 	2/2 	green 	64 	#5f8700
*/

input[type='color'],
input[type='date'],
input[type='datetime-local'],
input[type='datetime'],
input[type='email'],
input[type='month'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='time'],
input[type='url'],
input[type='week'] {
  box-shadow: none;
}

:root {
  --dark-text-color: #c1c1c1;
  --dark-link-color: #249ee8;
}

body {
  color: #bfbfbf;
}

.wy-nav-content-wrap {
  background-color: #101010;
}

.wy-nav-content {
  background-color: #141414;
}

.section {
  color: var(--dark-text-color);
}

.highlight {
  background-color: #17181c;
}

.highlight .nn {
  color: var(--dark-text-color);
}

.highlight .nb {
  color: #8bb8df;
}

.highlight .kn,
.highlight .kc,
.highlight .k {
  color: #41c2ea;
}

.highlight .s1,
.highlight .s2 {
  color: #b3e87f;
}

.highlight .nt {
  color: #ccb350;
}

.highlight .c1 {
  color: #686868;
}

.rst-content div[class^='highlight'] {
  border-color: #1a1a1a;
}

.wy-nav-content a,
.wy-nav-content a:visited {
  color: var(--dark-link-color);
}

.btn-neutral {
  background-color: #17181c !important;
}

.btn-neutral:hover {
  background-color: #101114 !important;
}

.btn-neutral:visited {
  color: #c1c1c1 !important;
}

.btn {
  box-shadow: none;
}

footer {
  color: #bdbdbd;
}

.wy-nav-side {
  background-color: #0d0d0d;
}

.wy-menu-vertical li.current {
  background-color: #141414;
}

.wy-menu-vertical li.current > a,
.wy-menu-vertical li.on a {
  background-color: #141415;
  color: var(--dark-text-color);
}

.wy-menu-vertical li.toctree-l1.current > a,
.wy-menu-vertical li.current a {
  border-color: #0b0c0d;
}

.wy-menu-vertical li.current a {
  color: #bbb;
}

.wy-menu-vertical li.current a:hover {
  background-color: #222;
}

.wy-menu-vertical a:hover,
.wy-menu-vertical li.current > a:hover,
.wy-menu-vertical li.on a:hover {
  background-color: #1e1e1e;
}

.wy-menu-vertical li.toctree-l2.current > a,

  .wy-menu-vertical
  li.toctree-l2.current
  li.toctree-l3
  > a {
  background-color: #18181a;
}

.wy-side-nav-search {
  background-color: #0b152d;
}

.wy-side-nav-search .wy-dropdown > a,
.wy-side-nav-search > a {
  color: #ddd;
}

.wy-side-nav-search input[type='text'] {
  border-color: #111;
  background-color: #141414;
  color: var(--dark-text-color);
}

.theme-switcher {
  background-color: #0b0c0d;
  color: var(--dark-text-color);
}

.writer-html4 .rst-content dl:not(.docutils) > dt,
.writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
  > dt {
  background-color: #0b0b0b;
  color: #007dce;
  border-color: #282828;
}

.rst-content code,
.rst-content tt {
  color: var(--dark-text-color);
}

.writer-html4
  .rst-content
  dl:not(.docutils)
  dl:not(.field-list)
  > dt,
.writer-html5
  .rst-content
  dl[class]:not(.option-list):not(.field-list):not(.footnote):not(.glossary):not(.simple)
  dl:not(.field-list)
  > dt {
  background-color: #0f0f0f;
  color: #959595;
  border-color: #2b2b2b;
}

.rst-content code,
.rst-content tt,
code {
  background-color: #2d2d2d;
  border-color: #1c1c1c;
}

.rst-content code.xref,
.rst-content tt.xref,
a .rst-content code,
a .rst-content tt {
  color: #cecece;
}

.rst-content .hint,
.rst-content .important,
.rst-content .tip,
.rst-content .wy-alert-success.admonition,
.rst-content .wy-alert-success.admonition-todo,
.rst-content .wy-alert-success.attention,
.rst-content .wy-alert-success.caution,
.rst-content .wy-alert-success.danger,
.rst-content .wy-alert-success.error,
.rst-content .wy-alert-success.note,
.rst-content .wy-alert-success.seealso,
.rst-content .wy-alert-success.warning,
.wy-alert.wy-alert-success {
  background-color: #00392e;
}

.rst-content .hint .admonition-title,
.rst-content .hint .wy-alert-title,
.rst-content .important .admonition-title,
.rst-content .important .wy-alert-title,
.rst-content .tip .admonition-title,
.rst-content .tip .wy-alert-title,

  .rst-content
  .wy-alert-success.admonition-todo
  .admonition-title,

  .rst-content
  .wy-alert-success.admonition-todo
  .wy-alert-title,

  .rst-content
  .wy-alert-success.admonition
  .admonition-title,

  .rst-content
  .wy-alert-success.admonition
  .wy-alert-title,

  .rst-content
  .wy-alert-success.attention
  .admonition-title,

  .rst-content
  .wy-alert-success.attention
  .wy-alert-title,

  .rst-content
  .wy-alert-success.caution
  .admonition-title,
.rst-content .wy-alert-success.caution .wy-alert-title,
.rst-content .wy-alert-success.danger .admonition-title,
.rst-content .wy-alert-success.danger .wy-alert-title,
.rst-content .wy-alert-success.error .admonition-title,
.rst-content .wy-alert-success.error .wy-alert-title,
.rst-content .wy-alert-success.note .admonition-title,
.rst-content .wy-alert-success.note .wy-alert-title,

  .rst-content
  .wy-alert-success.seealso
  .admonition-title,
.rst-content .wy-alert-success.seealso .wy-alert-title,

  .rst-content
  .wy-alert-success.warning
  .admonition-title,
.rst-content .wy-alert-success.warning .wy-alert-title,

  .rst-content
  .wy-alert.wy-alert-success
  .admonition-title,

  .wy-alert.wy-alert-success
  .rst-content
  .admonition-title,
.wy-alert.wy-alert-success .wy-alert-title {
  background-color: #006a56;
}

.rst-content .note,
.rst-content .seealso,
.rst-content .wy-alert-info.admonition,
.rst-content .wy-alert-info.admonition-todo,
.rst-content .wy-alert-info.attention,
.rst-content .wy-alert-info.caution,
.rst-content .wy-alert-info.danger,
.rst-content .wy-alert-info.error,
.rst-content .wy-alert-info.hint,
.rst-content .wy-alert-info.important,
.rst-content .wy-alert-info.tip,
.rst-content .wy-alert-info.warning,
.wy-alert.wy-alert-info {
  background-color: #002c4d;
}

.rst-content .note .admonition-title,
.rst-content .note .wy-alert-title,
.rst-content .seealso .admonition-title,
.rst-content .seealso .wy-alert-title,

  .rst-content
  .wy-alert-info.admonition-todo
  .admonition-title,

  .rst-content
  .wy-alert-info.admonition-todo
  .wy-alert-title,

  .rst-content
  .wy-alert-info.admonition
  .admonition-title,
.rst-content .wy-alert-info.admonition .wy-alert-title,
.rst-content .wy-alert-info.attention .admonition-title,
.rst-content .wy-alert-info.attention .wy-alert-title,
.rst-content .wy-alert-info.caution .admonition-title,
.rst-content .wy-alert-info.caution .wy-alert-title,
.rst-content .wy-alert-info.danger .admonition-title,
.rst-content .wy-alert-info.danger .wy-alert-title,
.rst-content .wy-alert-info.error .admonition-title,
.rst-content .wy-alert-info.error .wy-alert-title,
.rst-content .wy-alert-info.hint .admonition-title,
.rst-content .wy-alert-info.hint .wy-alert-title,
.rst-content .wy-alert-info.important .admonition-title,
.rst-content .wy-alert-info.important .wy-alert-title,
.rst-content .wy-alert-info.tip .admonition-title,
.rst-content .wy-alert-info.tip .wy-alert-title,
.rst-content .wy-alert-info.warning .admonition-title,
.rst-content .wy-alert-info.warning .wy-alert-title,
.rst-content .wy-alert.wy-alert-info .admonition-title,
.wy-alert.wy-alert-info .rst-content .admonition-title,
.wy-alert.wy-alert-info .wy-alert-title {
  background-color: #004a7b;
}

.rst-content .admonition-todo,
.rst-content .attention,
.rst-content .caution,
.rst-content .warning,
.rst-content .wy-alert-warning.admonition,
.rst-content .wy-alert-warning.danger,
.rst-content .wy-alert-warning.error,
.rst-content .wy-alert-warning.hint,
.rst-content .wy-alert-warning.important,
.rst-content .wy-alert-warning.note,
.rst-content .wy-alert-warning.seealso,
.rst-content .wy-alert-warning.tip,
.wy-alert.wy-alert-warning {
  background-color: #533500;
}

.rst-content .admonition-todo .admonition-title,
.rst-content .admonition-todo .wy-alert-title,
.rst-content .attention .admonition-title,
.rst-content .attention .wy-alert-title,
.rst-content .caution .admonition-title,
.rst-content .caution .wy-alert-title,
.rst-content .warning .admonition-title,
.rst-content .warning .wy-alert-title,

  .rst-content
  .wy-alert-warning.admonition
  .admonition-title,

  .rst-content
  .wy-alert-warning.admonition
  .wy-alert-title,
.rst-content .wy-alert-warning.danger .admonition-title,
.rst-content .wy-alert-warning.danger .wy-alert-title,
.rst-content .wy-alert-warning.error .admonition-title,
.rst-content .wy-alert-warning.error .wy-alert-title,
.rst-content .wy-alert-warning.hint .admonition-title,
.rst-content .wy-alert-warning.hint .wy-alert-title,

  .rst-content
  .wy-alert-warning.important
  .admonition-title,

  .rst-content
  .wy-alert-warning.important
  .wy-alert-title,
.rst-content .wy-alert-warning.note .admonition-title,
.rst-content .wy-alert-warning.note .wy-alert-title,

  .rst-content
  .wy-alert-warning.seealso
  .admonition-title,
.rst-content .wy-alert-warning.seealso .wy-alert-title,
.rst-content .wy-alert-warning.tip .admonition-title,
.rst-content .wy-alert-warning.tip .wy-alert-title,

  .rst-content
  .wy-alert.wy-alert-warning
  .admonition-title,

  .wy-alert.wy-alert-warning
  .rst-content
  .admonition-title,
.wy-alert.wy-alert-warning .wy-alert-title {
  background-color: #803b00;
}

.rst-content .danger,
.rst-content .error,
.rst-content .wy-alert-danger.admonition,
.rst-content .wy-alert-danger.admonition-todo,
.rst-content .wy-alert-danger.attention,
.rst-content .wy-alert-danger.caution,
.rst-content .wy-alert-danger.hint,
.rst-content .wy-alert-danger.important,
.rst-content .wy-alert-danger.note,
.rst-content .wy-alert-danger.seealso,
.rst-content .wy-alert-danger.tip,
.rst-content .wy-alert-danger.warning,
.wy-alert.wy-alert-danger {
  background-color: #82231a;
}

.rst-content .danger .admonition-title,
.rst-content .danger .wy-alert-title,
.rst-content .error .admonition-title,
.rst-content .error .wy-alert-title,

  .rst-content
  .wy-alert-danger.admonition-todo
  .admonition-title,

  .rst-content
  .wy-alert-danger.admonition-todo
  .wy-alert-title,

  .rst-content
  .wy-alert-danger.admonition
  .admonition-title,

  .rst-content
  .wy-alert-danger.admonition
  .wy-alert-title,

  .rst-content
  .wy-alert-danger.attention
  .admonition-title,
.rst-content .wy-alert-danger.attention .wy-alert-title,
.rst-content .wy-alert-danger.caution .admonition-title,
.rst-content .wy-alert-danger.caution .wy-alert-title,
.rst-content .wy-alert-danger.hint .admonition-title,
.rst-content .wy-alert-danger.hint .wy-alert-title,

  .rst-content
  .wy-alert-danger.important
  .admonition-title,
.rst-content .wy-alert-danger.important .wy-alert-title,
.rst-content .wy-alert-danger.note .admonition-title,
.rst-content .wy-alert-danger.note .wy-alert-title,
.rst-content .wy-alert-danger.seealso .admonition-title,
.rst-content .wy-alert-danger.seealso .wy-alert-title,
.rst-content .wy-alert-danger.tip .admonition-title,
.rst-content .wy-alert-danger.tip .wy-alert-title,
.rst-content .wy-alert-danger.warning .admonition-title,
.rst-content .wy-alert-danger.warning .wy-alert-title,

  .rst-content
  .wy-alert.wy-alert-danger
  .admonition-title,

  .wy-alert.wy-alert-danger
  .rst-content
  .admonition-title,
.wy-alert.wy-alert-danger .wy-alert-title {
  background-color: #b9372b;
}

.wy-nav-top {
  background-color: #0b152d;
}

.rst-content table.docutils thead,
.rst-content table.field-list thead,
.wy-table thead {
  color: var(--dark-text-color);
}


  .rst-content
  table.docutils:not(.field-list)
  tr:nth-child(2n-1)
  td,
.wy-table-backed,
.wy-table-odd td,
.wy-table-striped tr:nth-child(2n-1) td {
  background-color: #181818;
}

.rst-content table.docutils td,
.wy-table-bordered-all td,
.writer-html5 .rst-content table.docutils th,
.rst-content table.docutils,
.wy-table-bordered-all {
  border-color: #262626;
}

.rst-content table.docutils caption,
.rst-content table.field-list caption,
.wy-table caption {
  color: var(--dark-text-color);
}

.wy-menu-vertical li.toctree-l3.current > a,

  .wy-menu-vertical
  li.toctree-l3.current
  li.toctree-l4
  > a {
  background-color: #18181a;
}
