form {
    text-align: left;
    display: inline-block;
}

.inactive-module-name {
 display: inline;
 float:left;
}

.active-module-name {
 display: inline;
 float: left;
}

.submitButton {
 border: 0;
 background: none;
 background-color: #87CEFA;
 outline: 1;
 box-shadow: none;
 border-radius: 1px;
}

.deleteButton {
 border: 0;
 background: none;
 background-color: #ffe6e6;
 outline: 1;
 box-shadow: none;
 border-radius: 1px;
}

.clip-entry, .code_div{
 contenteditable: true;
 font-family: monospace;
 font-size: 12pt;
 background-color: #EEEEEE;
 border-style: solid;
 border-width: 1pt;
 border-color: #DDDDDD;
}
