{% extends "index.html" %}
{% block clipboard_active %}active{% endblock %}
{% block clipboard_selected %}selected{% endblock %}
{% block content %}
<p>
<h2>Clipboard
<sup>
<a href="#" title="What's this?" data-toggle="popover"
data-trigger="focus" data-content="This is the Clipboard. It's like a
non-persistent guestbook for transfering small code snippets, passwords,
    hashes, and so forth."><span data-feather="help-circle"></span></a>
    </sup>
</h2>
    <form action="clipboard/add" method="post" id="clipform" class='col'>
        <div class="input-group mb-3">
          <textarea id="clipboard-area" rows="4" cols="80" name="content"
              form="clipform" class="form-control"
              aria-describedby="basic-addon2"> </textarea>
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="submit">+</button>
          </div>
        </div>
    </form>
    <div class="col">
{% if clipboard %}
        {% for c in clipboard %}
            <div class="card" id="card-{{loop.index}}">
              <div class="card-body">
                  <h5 class="card-title">{{c.time}}<sup><a href="#"
                class="card-link" onclick="deleteClip({{ loop.index }})">
                    <span data-feather="trash-2">delete</span>
                          </a></sup></h5>
                <h6 class="card-subtitle mb-2 text-muted">{{c.IP}}</h6>
                <p class="card-text"><pre>{{ c.content }}</pre></p>
              </div>
            </div>
        {% endfor %}
{% else %}
        <p>Clipboard is empty</p>
{% endif %}
    </div>
</p>
{% endblock %}
