<p>
<h2>File Upload
    <sup>
        <a href="#" title="What's this?" data-toggle="popover"
        data-trigger="focus" data-content="Here you can upload and download files
        via HTTP. Think Droopy."><span data-feather="help-circle"></span></a>
    </sup>
</h2>
<form action="u" method="POST" enctype="multipart/form-data">
  <div class="form-group">
    <label class="btn btn-default btn-file">
        <input value="file" name="file" type="file" class="form-control-file" id="exampleFormControlFile1">
    </label>
    <input type=submit value=Upload class="submitButton btn btn-primary">
  </div>
</form>
</p>
<div class="container">
{% if files %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Size</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
{% for f in files %}
    <tr>
      <th scope="row">{{loop.index}}</th>
      <td><a href="/d/{{f.name}}" title="{{f.name}}">{{f.name}}</a></td>
      <td>{{f.size}}</td>
      <td>{{f.date}}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endif %}
</div>

