{% extends "index.html" %}
{% block hub_active %}active{% endblock %}
{% block hub_selected %}selected{% endblock %}
{% block content %}
<p id='mainp'>
<h2>Hub<sup>
<a href="#" title="What's this?" data-toggle="popover"
data-trigger="focus" data-content="This is the Hub. Most of its functionality
lies in its PowerShell script. Paste the command below in a PowerShell and
follow the instructions. You will be able to easily transfer and execute
more PowerShell modules and binary code in-memory (compressed and
encrypted). The endpoint protection will most likely not care. Note that
you need to place or symlink the modules in the <code>module</code> directory first.
The stuff in <code>$XDG_DATA_HOME/powerhub/profile.ps1</code> will be
executed automatically. Have fun!"><span data-feather="help-circle"></span></a></sup>
</h2>
    <p>Paste this in PowerShell:</p>
    <div class="code_div mb-3" contenteditable='true'>
        <code id='dlcradle'>{{ dl_str }}</code>
    </div>
    {#
    <div class="custom-control custom-checkbox dlcradle-options">
      <input type="checkbox" class="custom-control-input" id="need-proxy" checked>
      <label class="custom-control-label" for="need-proxy">I need a proxy</label>
    </div>
    {% if SSL %}
    <div class="custom-control custom-checkbox dlcradle-options">
      <input type="checkbox" class="custom-control-input" id="need-tlsv12" checked>
      <label class="custom-control-label" for="need-tlsv12">Force
          TLSv1.2 on the client</label>
    </div>
      {% endif %}

      #}


      <div id="cradle-options">
          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="GroupLauncher" style="width: 150px;">Launcher</label>
              </div>
              <select class="custom-select" id="GroupLauncher">
                  <option selected value="powershell">PowerShell</option>
                  <option value="cmd">CMD</option>
                  <option value="cmd_enc">CMD Encoded</option>
                  <option value="rundll32" disabled>Rundll32 (not yet implemented)</option>
                  <option value="installutil" disabled>InstallUtil (not yet implemented)</option>
              </select>
          </div>

          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="GroupAmsi" style="width: 150px;">AMSI Bypass</label>
              </div>
              <select class="custom-select" id="GroupAmsi">
                  <option selected value="am0nsec">am0nsec (Requires PowerShell Version 5)</option>
              </select>
          </div>

          <div class="input-group input-group-sm mb-3">
              <div class="input-group-prepend">
                  <label class="input-group-text" for="GroupTransport" style="width: 150px;">Transport</label>
              </div>
              <select class="custom-select" id="GroupTransport">
                  <option selected value="http">HTTP</option>
                  <option value="https">HTTPS</option>
                  <option value="smb" disabled>SMB (not yet implemented)</option>
                  <option value="dns" disabled>DNS (not yet implemented)</option>
              </select>
          </div>

          <div class="form-check form-check-inline relevant-to-http relevant-to-https">
              <input class="form-check-input" type="checkbox" id="CheckboxProxy" value="Proxy">
              <label class="form-check-label" for="CheckboxProxy">Use Web Proxy</label>
          </div>
          <div class="form-check form-check-inline relevant-to-https">
              <input class="form-check-input" type="checkbox" id="CheckboxTLS1.2" value="TLSv1.2">
              <label class="form-check-label" for="CheckboxTLS1.2">Force TLSv1.2</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline relevant-to-https">
              <input type="radio" id="RadioFingerprint" name="RadioVerification" class="custom-control-input">
              <label class="custom-control-label" for="RadioFingerprint">Verify by fingerprint</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline relevant-to-https">
              <input type="radio" id="RadioNoVerification" name="RadioVerification" class="custom-control-input">
              <label class="custom-control-label" for="RadioNoVerification">No TLS verification</label>
          </div>

          <div class="custom-control custom-radio custom-control-inline relevant-to-https">
              <input type="radio" id="RadioCertStore" name="RadioVerification" class="custom-control-input">
              <label class="custom-control-label" for="RadioCertStore">Use local certificate store</label>
          </div>

      </div>


<hr>
<p>
There {% if modules|length == 1 %}is <strong>1</strong> module{% else %}are
<strong>{{ modules|length }}</strong> modules{% endif %} available.</p>

<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
    data-target=".bd-listmodules-modal-lg">List Modules</button>
<button type="button" class="btn btn-info btn-sm" id='reloadbutton'>Reload modules</button>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
    data-target=".bd-getmodules-modal-lg">Need more?</button>

<div class="modal fade bd-listmodules-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Module List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% if modules %}
                {% include "hub/modulelist.html" %}
            {% else %}
                You probably didn't put anything in the <code>modules</code>
                directory. It's in either
                <code>$XDG_DATA_HOME/powerhub</code> or
                </code>$HOME/.local/share/powerhub</code>. If you already
                have those modules on your hard drive, it make sense to
                symlink them. But if you don't, or if you are really lazy,
                for your convenience, you can perform a shallow clone of
                some popular PowerShell repositories by clicking on "Need
                more?".
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>


<div class="modal fade bd-getmodules-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
                Get Modules
                <sup>
                    <a href="#" title="What's this?" data-toggle="popover" data-trigger="focus"
                        data-content="Click on 'clone' to perform a shallow
                        clone of the selected repository in the 'ps1'
                        directory. Alternatively, you can specify a URL
                        which will be cloned in the 'ps1' directory if it
                        ends in '.git', or downloaded to the correct
                        directory if it ends in '.ps1' or '.exe'."><span
                            data-feather="help-circle"></span></a></sup>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/getrepo" method="POST">
              <div class="form-group">
                <label for="gitrepo-select">Select a git repository</label>
                <select class="form-control" id="gitrepo-select" name='repo'>
                    {% for repo in repositories %}
                        <option>{{repo}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="custom-url">Custom URL</label>
                <input type='text' id='custom-url' class="form-control"
                name='custom-repo'>
              </div>
              <input type="submit" value="Clone" type="btn btn-primary">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

</p>
{% endblock %}
