{% extends "index.html" %}
{% block hub_active %}active{% endblock %}
{% block hub_selected %}selected{% endblock %}
{% block content %}
<p id='mainp'>
<h2>Hub<sup>
<a href="#" title="What's this?" data-toggle="popover"
data-trigger="focus" data-content="This is the Hub. Most of its functionality
lies in its PowerShell script. Paste the command below in a PowerShell and
follow the instructions. You will be able to easily transfer and execute
more PowerShell modules and binary code in-memory (compressed and
encrypted). The endpoint protection will most likely not care. Note that
you need to place or symlink the modules in the 'module' directory first.
Have fun!"><span data-feather="help-circle"></span></a></sup>
</h2>
    <p>Paste this in PowerShell:</p>
    <div class="code_div" contenteditable='true'><code id='dlcradle'>{{ dl_str }}</code></div>
    <div class="custom-control custom-checkbox dlcradle-options">
      <input type="checkbox" class="custom-control-input" id="need-proxy" checked>
      <label class="custom-control-label" for="need-proxy">I need a proxy</label>
    </div>
      {% if SSL %}
    <div class="custom-control custom-checkbox dlcradle-options">
      <input type="checkbox" class="custom-control-input" id="need-tlsv12" checked>
      <label class="custom-control-label" for="need-tlsv12">Force
          TLSv1.2 on the client</label>
    </div>
      {% endif %}
    <hr>
<p>
There {% if modules|length == 1 %}is <strong>1</strong> module{% else %}are
<strong>{{ modules|length }}</strong> modules{% endif %} available.</p>

<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
    data-target=".bd-listmodules-modal-lg">List Modules</button>
<button type="button" class="btn btn-info btn-sm" id='reloadbutton'>Reload modules</button>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
    data-target=".bd-getmodules-modal-lg">Need more?</button>

<div class="modal fade bd-listmodules-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Module List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% if modules %}
                {% include "modulelist.html" %}
            {% else %}
                You probably didn't put anything in the <code>modules</code>
                directory. If you already have those modules on your hard
                drive, it make sense to symlink them. But if you don't, or
                if you are really lazy, for your convenience, you can
                perform a shallow clone of some popular PowerShell
                repositories by clicking on "Need more?".
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

<div class="modal fade bd-getmodules-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
                Get Modules
                <sup>
                    <a href="#" title="What's this?" data-toggle="popover" data-trigger="focus"
                        data-content="Click on 'clone' to perform a shallow
                        clone of the selected repository in the 'ps1'
                        directory. Alternatively, you can specifiy a URL
                        which will be cloned in the 'ps1' directory if it
                        ends in '.git', or downloaded to the correct
                        directory if it ends in '.ps1' or '.exe'."><span
                            data-feather="help-circle"></span></a></sup>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/getrepo" method="POST">
              <div class="form-group">
                <label for="gitrepo-select">Select a git repository</label>
                <select class="form-control" id="gitrepo-select" name='repo'>
                    {% for repo in repositories %}
                        <option>{{repo}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="custom-url">Custom URL</label>
                <input type='text' id='custom-url' class="form-control"
                name='custom-repo'>
              </div>
              <input type="submit" value="Clone" type="btn btn-primary">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

</p>
{% endblock %}
