{% extends "index.html" %}
{% block hub_active %}active{% endblock %}
{% block hub_selected %}selected{% endblock %}
{% block content %}
<p id='mainp'>
<h2>Hub<sup>
    <a href="#"
       title="What's this?"
       data-toggle="popover"
       data-trigger="focus"
       data-html='true'
       data-content="{{help.hub_main}}"><span data-feather="help-circle"></span></a></sup>
</h2>
<div id='download-cradle'>
</div>
<div id="cradle-options">{% include "hub/cradle-options.html" %}</div>

<hr>
<p>
There {% if modules|length == 1 %}is <strong>1</strong> module{% else %}are
<strong>{{ modules|length }}</strong> modules{% endif %} available.</p>

<button type="button" class="btn btn-secondary btn-sm" data-toggle="modal"
    data-target=".bd-listmodules-modal-lg">List Modules</button>
<button type="button" class="btn btn-info btn-sm" id='reloadbutton'>Reload modules</button>
<button type="button" class="btn btn-primary btn-sm" data-toggle="modal"
    data-target=".bd-getmodules-modal-lg">Need more?</button>

<div class="modal fade bd-listmodules-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Module List</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            {% if modules %}
                {% include "hub/modulelist.html" %}
            {% else %}
                {{ help.hub_no_modules|safe }}
            {% endif %}
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>


<div class="modal fade bd-getmodules-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">
                Get Modules
                <sup>
                    <a href="#" title="What's this?" data-toggle="popover" data-trigger="focus"
                        data-content="{{help.modules}}"><span
                            data-feather="help-circle"></span></a></sup>
            </h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form action="/getrepo" method="POST">
              <div class="form-group">
                <label for="gitrepo-select">Select a git repository</label>
                <select class="form-control" id="gitrepo-select" name='repo'>
                    {% for repo in repositories %}
                        <option>{{repo}}</option>
                    {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="custom-url">Custom URL</label>
                <input type='text' id='custom-url' class="form-control"
                name='custom-repo'>
              </div>
              <input type="submit" value="Clone" type="btn btn-primary">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
    </div>
  </div>
</div>

</p>
{% endblock %}
