{% extends "index.html" %}
{% block loot_active %}active{% endblock %}
{% block loot_selected %}selected{% endblock %}
{% block content %}
<p>
<h2>Loot
    <sup>
        <a href="#" title="What's this?" data-toggle="popover"
        data-trigger="focus" data-content="This is your loot. Collect more
        by executing 'Get-Loot' on your targets.">
        <span data-feather="help-circle"></span></a>
    </sup>
</h2>
    <div class="col">
        {% if loot|length == 0 %}
        <div id="noloot-note">No loot received yet.</div>
        {% else %}
        <div id="accordion">
            {% for l in loot %} {% include "loot/entry.html" %} {% endfor %}
        </div>
        {% endif %}
    </div>
</p>
{% endblock %}

