{% extends "index.html" %}
{% block receiver_active %}active{% endblock %}
{% block receiver_selected %}selected{% endblock %}
{% block content %}
<p>
<h2>Receiver
    <sup>
        <a href="#"
           title="What's this?"
           data-toggle="popover"
           data-trigger="focus"
           data-content="This is the receiver. It catches your incoming
           shells and lets you manage and interact with them. <strong>This
           feature is still experimental.</strong>">
           <span data-feather="help-circle"></span>
        </a>
    </sup>
</h2>
<p>Paste this in you launcher (PowerShell/CMD/Bash command):</p>
    <div class="code_div mb-3" contenteditable='true'>
        <code id='dlcradle' data-flavor="reverse_shell">{{ dl_str }}</code>
    </div>

<div id="cradle-options">{% include "cradle-options.html" %}</div>


<hr>

<div class="container">
{% if shells|length == 0 %}
<div id="noshell-note">No shells received yet.</div>
{% endif %}
<div id="shell-list" {% if shells|length == 0 %}class="d-none"{% endif %}>
  <div id="accordion">
    {% for s in shells %}
      {% include "receiver/receiver-shellcard.html" %}
    {% endfor %}
  </div>
  <div class="row my-3">
    <div class="col text-right">
        <button type="button" id="kill-all" class="btn btn-danger"
                data-toggle="popover" data-trigger="hover" data-placement="top"
                data-content="Kill all shells">Kill all</button>
    </div>
  </div>
</div>
<div class="modal fade"
     id="shell-log-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Shell Log"
     aria-hidden="true">
      <div class="modal-dialog modal-xl" style='height: 80%'>
        <div class="modal-content" style='height: 80%'>
        <div class="modal-header">
          <h4 class="modal-title">Log</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" style="overflow-y: auto;">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a type="button" class="btn btn-secondary"
              href="/shell-log?id=ID&content=raw">Save...</a>
        </div>
      </div>
    </div>
  </div>
</div>
</p>
{% endblock %}
