{% extends "index.html" %}
{% block receiver_active %}active{% endblock %}
{% block receiver_selected %}selected{% endblock %}
{% block content %}
<p>
<h2>Receiver
    <sup>
        <a href="#"
           title="What's this?"
           data-toggle="popover"
           data-trigger="focus"
           data-content="This is the receiver. It catches your incoming
           shells and lets you manage and interact with them.">
           <span data-feather="help-circle"></span>
        </a>
    </sup>
</h2>
</p>
<div class="container">
{% if shells|length == 0 %}
No shells received yet.
{% else %}
<div id="accordion">
    {% for s in shells %}
  <div class="card">
    <div class="card-header" id="heading-{{s.id}}">
      <h5 class="mb-0">
        <a id="shell-header-{{s.id}}"
           data-html="true"
           data-toggle="popover"
           data-trigger="hover"
           data-content="{% include 'shell-tooltip.html' %}">
           <span class="btn btn-link"
                 id="shell-header-{{s.id}}"
                 data-toggle="collapse"
                 data-target="#collapse-{{s.id}}"
                 aria-expanded="true"
                 aria-controls="collapse-{{s.id}}">
                 {{s.description}}
           </span>
        </a>
      </h5>
    </div>
    <div id="collapse-{{s.id}}"
         class="collapse"
         aria-labelledby="heading-{{s.id}}"
         data-parent="#accordion">
      <div class="card-body">
          {% include 'shell-details.html' %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endif %}
</div>
{% endblock %}
