{% extends "index.html" %}
{% block receiver_active %}active{% endblock %}
{% block receiver_selected %}selected{% endblock %}
{% block content %}
<p>
<h2>Receiver
    <sup>
        <a href="#"
           title="What's this?"
           data-toggle="popover"
           data-trigger="focus"
           data-content="This is the receiver. It catches your incoming
           shells and lets you manage and interact with them.">
           <span data-feather="help-circle"></span>
        </a>
    </sup>
</h2>
<p>Paste this in PowerShell:</p>
<div class="code_div" contenteditable='true'><code id='dlcradle'>{{ dl_str }}</code></div>
<hr/>
<div class="container">
{% if shells|length == 0 %}
No shells received yet.
{% else %}
<div id="accordion">
    {% for s in shells %}
  <div class="card{% if s.is_stale() %} faded{% endif %}">
    <div class="card-header" id="heading-{{s["details"].id}}">
      <h5 class="mb-0">
        <a id="shell-header-{{s["details"].id}}"
           class="shell-tooltip"
           data-shellid="{{s["details"].id}}"
           data-toggle="popover"
           data-html="true"
           data-placement="left"
           data-trigger="hover" >
           <span class="btn btn-link"
                 id="shell-header-{{s["details"].id}}"
                 data-toggle="collapse"
                 data-target="#collapse-{{s["details"].id}}"
                 aria-expanded="true"
                 aria-controls="collapse-{{s["details"].id}}">
                 {{s.description}}
           </span>
        </a>
        <div style="display: none;" id="popover-content-{{s["details"].id}}">{% include 'shell-tooltip.html' %}</div>
        <div class="btn-group float-right" role="group" aria-label="Control Shell">
          <button type="button"
                  href="/shell-log?id={{s["details"].id}}"
                  id="shell-log-{{s["details"].id}}"
                  data-remote="false"
                  data-toggle="modal"
                  data-target="#shell-log-modal"
                  class="btn btn-primary">View Log</button>
          <button type="button"
                  id="shell-kill-{{s["details"].id}}"
                  class="btn btn-danger">Kill Shell</button>
        </div>{% if s.is_stale() %} (stale){% endif %}
      </h5>
    </div>
    <div id="collapse-{{s["details"].id}}"
         class="collapse"
         aria-labelledby="heading-{{s["details"].id}}"
         data-parent="#accordion">
      <div class="card-body">
          {% include 'shell-details.html' %}
      </div>
    </div>
  </div>
  {% endfor %}
<div class="modal fade"
     id="shell-log-modal"
     tabindex="-1"
     role="dialog"
     aria-labelledby="Shell Log"
     aria-hidden="true">
      <div class="modal-dialog modal-xl" style='height: 80%'>
        <div class="modal-content" style='height: 80%'>
        <div class="modal-header">
          <h4 class="modal-title">Log</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <div class="modal-body" style="overflow-y: auto;">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <a type="button" class="btn btn-secondary"
              href="/shell-log?id=ID&content=raw">Save...</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
</div>
</p>
{% endblock %}
