<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
      <label class="input-group-text" for="Launcher" style="width: 150px;">Launcher</label>
  </div>
  <select class="custom-select" id="Launcher">
      <option selected value="powershell">PowerShell</option>
      <option value="cmd">CMD</option>
      <option value="cmd_enc">CMD Encoded</option>
      <option value="bash">Bash</option>
      <option value="mingw32">Mingw32 Executable</option>
      <option value="dotnetexe">.NET Executable</option>
      <option value="vbs">VBScript</option>
      <option value="wordmacro" disabled>MS Word Macro (not yet implemented)</option>
      <option value="rundll32" disabled>Rundll32 (not yet implemented)</option>
      <option value="installutil" disabled>InstallUtil (not yet implemented)</option>
  </select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
      <label class="input-group-text" for="Amsi" style="width: 150px;">AMSI Bypass</label>
  </div>
  <select class="custom-select" id="Amsi">
      <option selected value="reflection">Matt Graber's Reflection method</option>
      <option value="reflection2">Matt Graber's 2nd Reflection method</option>
      <option value="rasta-mouse">rasta-mouse</option>
      <option value="am0nsec">am0nsec (Requires PowerShell Version 5)</option>
      <option value="adam-chester">Adam Chester (Requires PowerShell Version 5; caught by latest Defender)</option>
      <option value="zc00l">zc00l (caught by latest Defender)</option>
      <option value="none">None</option>
  </select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
      <label class="input-group-text" for="Transport" style="width: 150px;">Transport</label>
  </div>
  <select class="custom-select" id="Transport">
      <option selected value="http">HTTP</option>
      <option value="https">HTTPS</option>
      <option value="smb" disabled>SMB (not yet implemented)</option>
      <option value="dns" disabled>DNS (not yet implemented)</option>
  </select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
      <label class="input-group-text" for="ClipExec" style="width: 150px;">Clip-Exec</label>
  </div>
  <select class="custom-select" id="ClipExec">
      <option selected value="none">None</option>
      {% for entry in clip_entries %}
      <option value="{{entry['n']}}"><code>[{{entry['n']}}]</code> {{entry['text']}}</option>
      {% endfor %}
  </select>
</div>

<div class="form-check form-check-inline relevant-to-http relevant-to-https">
  <input class="form-check-input" type="checkbox" id="SeparateAMSI" value="SeparateAMSI" checked>
  <label class="form-check-label" for="SeparateAMSI">Separate AMSI Bypass</label>
</div>

<div class="form-check form-check-inline relevant-to-http relevant-to-https">
  <input class="form-check-input" type="checkbox" id="Proxy" value="Proxy">
  <label class="form-check-label" for="Proxy">Use Web Proxy</label>
</div>

<div class="form-check form-check-inline relevant-to-https">
  <input class="form-check-input" type="checkbox" id="TLS1.2" value="TLSv1.2">
  <label class="form-check-label" for="TLS1.2">Force TLSv1.2</label>
</div>

<div class="custom-control custom-radio custom-control-inline relevant-to-https">
  <input type="radio" id="Fingerprint" name="Verification" class="custom-control-input" checked>
  <label class="custom-control-label" for="Fingerprint">Verify by fingerprint</label>
</div>

<div class="custom-control custom-radio custom-control-inline relevant-to-https">
  <input type="radio" id="NoVerification" name="Verification" class="custom-control-input">
  <label class="custom-control-label" for="NoVerification">No TLS verification</label>
</div>

<div class="custom-control custom-radio custom-control-inline relevant-to-https">
  <input type="radio" id="CertStore" name="Verification" class="custom-control-input">
  <label class="custom-control-label" for="CertStore">Use local certificate store</label>
</div>

<div class="custom-control custom-radio custom-control-inline relevant-to-mingw32 relevant-to-dotnetexe">
  <input type="radio" id="32bit" name="Arch" class="custom-control-input">
  <label class="custom-control-label" for="32bit">32 bit</label>
</div>

<div class="custom-control custom-radio custom-control-inline relevant-to-mingw32 relevant-to-dotnetexe">
  <input type="radio" id="64bit" name="Arch" class="custom-control-input" checked>
  <label class="custom-control-label" for="64bit">64 bit</label>
</div>

