<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
      <label class="input-group-text" for="GroupLauncher" style="width: 150px;">Launcher</label>
  </div>
  <select class="custom-select" id="GroupLauncher">
      <option selected value="powershell" data-file='false'>PowerShell</option>
      <option value="cmd" data-file='false'>CMD</option>
      <option value="cmd_enc" data-file='false'>CMD Encoded</option>
      <option value="bash" data-file='false'>Bash</option>
      <option value="mingw32-32bit" data-file='true'>Mingw32 32 Bit Executable</option>
      <option value="mingw32-64bit" data-file='true'>Mingw32 64 Bit Executable</option>
      <option value="dotnetexe-32bit" data-file='true'>.NET Executable 32 Bit</option>
      <option value="dotnetexe-64bit" data-file='true'>.NET Executable 64 Bit</option>
      <option value="wordmacro" data-file='true' >MS Word Macro (not yet implemented)</option>
      <option value="rundll32" data-file='true' disabled>Rundll32 (not yet implemented)</option>
      <option value="installutil" data-file='true' disabled>InstallUtil (not yet implemented)</option>
  </select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
      <label class="input-group-text" for="GroupAmsi" style="width: 150px;">AMSI Bypass</label>
  </div>
  <select class="custom-select" id="GroupAmsi">
      <option selected value="reflection">Matt Graber's Reflection method</option>
      <option value="reflection2">Matt Graber's 2nd Reflection method</option>
      <option value="rasta-mouse">rasta-mouse</option>
      <option value="am0nsec">am0nsec (Requires PowerShell Version 5)</option>
      <option value="adam-chester">Adam Chester (Requires PowerShell Version 5; caught by latest defender)</option>
      <option value="zc00l">zc00l (caught by latest Defender)</option>
      <option value="none">None</option>
  </select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
      <label class="input-group-text" for="GroupTransport" style="width: 150px;">Transport</label>
  </div>
  <select class="custom-select" id="GroupTransport">
      <option selected value="http">HTTP</option>
      <option value="https">HTTPS</option>
      <option value="smb" disabled>SMB (not yet implemented)</option>
      <option value="dns" disabled>DNS (not yet implemented)</option>
  </select>
</div>

<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
      <label class="input-group-text" for="GroupClipExec" style="width: 150px;">Clip-Exec</label>
  </div>
  <select class="custom-select" id="GroupClipExec">
      <option selected value="none">None</option>
      {% for entry in clip_entries %}
      <option value="{{entry['n']}}"><code>[{{entry['n']}}]</code> {{entry['text']}}</option>
      {% endfor %}
  </select>
</div>

<div class="form-check form-check-inline relevant-to-http relevant-to-https">
  <input class="form-check-input" type="checkbox" id="CheckboxProxy" value="Proxy">
  <label class="form-check-label" for="CheckboxProxy">Use Web Proxy</label>
</div>
<div class="form-check form-check-inline relevant-to-https">
  <input class="form-check-input" type="checkbox" id="CheckboxTLS1.2" value="TLSv1.2">
  <label class="form-check-label" for="CheckboxTLS1.2">Force TLSv1.2</label>
</div>

<div class="custom-control custom-radio custom-control-inline relevant-to-https">
  <input type="radio" id="RadioFingerprint" name="RadioVerification" class="custom-control-input" checked>
  <label class="custom-control-label" for="RadioFingerprint">Verify by fingerprint</label>
</div>

<div class="custom-control custom-radio custom-control-inline relevant-to-https">
  <input type="radio" id="RadioNoVerification" name="RadioVerification" class="custom-control-input">
  <label class="custom-control-label" for="RadioNoVerification">No TLS verification</label>
</div>

<div class="custom-control custom-radio custom-control-inline relevant-to-https">
  <input type="radio" id="RadioCertStore" name="RadioVerification" class="custom-control-input">
  <label class="custom-control-label" for="RadioCertStore">Use local certificate store</label>
</div>

